<div class="mat-app-background">



  <div class="container">
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-card fxFlex="35">
        <mat-card-title>  
          User: {{user?.firstName}} {{user?.lastName}} 
        </mat-card-title>
        <mat-card-subtitle>
          Details about the BJJ player
        </mat-card-subtitle>
        <mat-card-content>
          <div class="card-row">
          Total Career Submissions: {{numberOfSubs}}
          </div>
          <div class="card-row">
          Total Career Taps: {{numberOfTaps}}
          </div>
          <div class="card-row">
            Favourite Submission: {{favoriteSub}}
          </div>
        </mat-card-content>
      </mat-card>



    </div>
    <!-- End of the Fx Layout Row DIV -->

  </div>
  <!-- End of Container Div -->

</div>
