<div fxLayout="column" fxLayoutAlign="left left" fxLayout.xs="column">

  <mat-card>
    <mat-card-title>
      User Details
    </mat-card-title>
    <mat-card-subtitle>
      Enter your details here to begin tracking your BJJ stats!!
    </mat-card-subtitle>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input matInput placeholder="First Name" type="text" class="form-control" id="fname" formControlName="firstName" name="fname">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" class="form-control" id="lname" formControlName="lastName" name="lname">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Username" type="text" class="form-control" id="uname" formControlName="userName" name="uname">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" type="password" class="form-control" id="pass" formControlName="userPass" name="pass">
        </mat-form-field>
      </div>

      <button mat-button type="submit">Submit</button>
      <!-- Thanks to the above router link -->
    </form>

  </mat-card>


</div>
