<form>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" type="text">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Last Name" type="text">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="User Name" type="text">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
</form>